extends ../layouts/mainLayout.pug

block content
    |
    .shadow-lg.jumbotron.col-6.align-self-center.mx-auto.pt-4
        .account__header
            h5.font-weight-light #{`Hello ${user.name}`}
        .account__form
        
        .account__footer