extends ../layouts/mainLayout.pug

block content
    |
    .shadow-lg.jumbotron.col-6.align-self-center.mx-auto.pt-4
        .orders__header
            //h5.font-weight-light #{`Hello ${user.name}`}
        .orders__form
        
        .orders__footer