extends ../layouts/mainLayout

block content
    .jumbotron.col-8.align-self-center.mx-auto
        h3.font-weight-light.text-center #{__('Reset password')}


        if error.length !== 0
            .passwordReset__errors.text-center
                p.text-danger #{error}

        form(action="/reset-password", method="POST").d-flex.align-items-center.justify-content-center.mt-4
            include ../partials/shortcodes/csrf 
            .form-group.m-0.d-flex
                label(for="loginEmail")
                input#loginEmail(type="email", name="email", placeholder="Pass your email").form-control
            button(type="submit").btn.btn-primary.ml-2 #{__('Reset password')}