footer.footer
    .container.flex-column
        .footer__widgets
            if page.footer.widgets
                each widget in page.widgets
                    .footer__widget
        .footer__bar.py-3.d-flex
            p.m-0 #{page.footer.copyright}
            ul.nav.ml-auto
                if page.socials
                    each social in page.socials
                        li.social__label
                            a.social__link
                                i(class=social.icon)
