extends layouts/main_layout.pug

block content
    .d-flex.justify-content-center.align-items-center.w-100.h-100
        .blurBlock.col-7.p-4
            h3.text-light Page Not Found!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsum alias blanditiis laborum animi at autem nulla voluptatem odio, repudiandae, omnis necessitatibus illo a suscipit dolore earum assumenda nemo. A?
            main
            .container.mx-auto.row.my-5
