extends layouts/main_layout.pug

block content
    |
    form(action="/admin/add-product", method="post")
        div.form-group
            label(for="product_name")
            input(type="text", name="product_name", placeholder="product name").form-control
            label(for="product_price")
            input(type="number", name="product_price", placeholder="product price").form-control
        button(type="submit").btn.btn-primary.px-5.d-block.mx-auto.font-weight-bold Send