extends layouts/main_layout.pug

block content 
    .container.row.mx-auto.no-gutters
        each product in prods
            .card.col-12.col-md-6.col-lg-4.col-xl-3
                img(src="http://unsplash.it/500?random&gravity=center", alt="dummy img").card-img
                .card-body
                    h4 #{product.title}
                    a.btn.btn-primary Show product