* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body {
    overflow-x: hidden;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    //background: #0f2027; /* fallback for old browsers */
    //background: -webkit-linear-gradient(to left, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to left, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //background-image: url(http://unsplash.it/2000?random&gravity=center);
    //background-size: cover;
    color: var(--dark);
    font-size: 15px;
    letter-spacing: 0.05em;
}
.header {
    height: 60px;
}
.header--admin {
    height: auto;
    width: 220px;
    max-width: 220px;
    min-width: 220px;
}
.productList__item img{
    max-height: 60px;
}
.main {
    flex-grow: 1;
}
.footer {

}
.footer__widgets {
    flex-grow: 1;
}
.footer__bar {
}
.social__label{}
.social__link{
    background: rgb(10, 21, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.2);
    height: 25px;
    width: 25px;
    transition: box-shadow .3s ;
}
.social__link:hover {
    box-shadow: 0 0 10px 4px rgba(0,0,0,.3);
}
.blurBlock {
    position: relative;
}
.blurBlock__blur {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    position: absolute;
}
.blurBlock {
    background: rgba(17, 43, 54, .7);
}
.object-cover {
    object-fit: cover;
}
.rotate-90 {
    position: relative;
    transform: rotate(90deg);
}