extends ../layouts/mainLayout
include ../partials/shop/mixins/product
include ../partials/mixins/header
include ../partials/mixins/slider

block content
    |
    .container.row.mx-auto
        +slider(slider)
    .container.my-5.mx-auto.row
        +sectionHeader("Products")
        +productsList("productsList")


            
    
