extends ../layouts/mainLayout

block content
    |
    .container.row.mx-auto
        #mainPageSliderControls.carousel.slide.w-100.my-4.shadow(data-ride="carousel")
            .carousel-inner
                .carousel-item.embed-responsive.embed-responsive-16by9
                    img(src="http://unsplash.it/g/1500?random&gravity=center", alt="").embed-responsive-item
    .container.row.mx-auto
        .col-9
            .card
                img.card-img(src="http://unsplash.it/1700?random&gravity=center", alt="")
        .col-3
            .card
                img.card-img(src="http://unsplash.it/1700?random&gravity=center", alt="")