include ../../mixins/card

mixin productCard(product) 
    .card.p-3.w-100
        .image--square
            img(src=product.img)
        .card-body.p-2.d-flex.flex-column
            h5.card-title #{product.title}
            p.card-text #{product.price}#{Settings.getSettingVal("currency")}
            hr.mt-auto.w-100
            +controlPanel("product", product._id)
