extends ../layouts/adminLayout
include ../partials/admin/mixins/summaryBox
include ../partials/mixins/order

block content
    |
    h5 #{__("General raport")}
    .row
        .col-12.col-sm-6.col-lg-4.col-xl-3
            +summaryBox("users", 1000, 'fa-users')
        .col-12.col-sm-6.col-lg-4.col-xl-3
            +summaryBox("orders", 20, 'fa-shopping-cart')
        .col-12.col-sm-6.col-lg-4.col-xl-3
            +summaryBox("income", `200 ${Settings.getSettingVal("currency")}`, 'fa-coins')
    h5 #{__("Last orders")}
    +ordersList(orders)
