extends ../layouts/adminLayout.pug
include ../partials/admin/mixins/product
include ../partials/mixins/card
include ../partials/mixins/modal

block content
    |
    .grid.productList
        each product in prods
            .grid__col
                +productCard(product)
        .grid__col
            +addItemCard("/admin/add-product")
    +simpleDeleteModal("product")