extends ../layouts/adminLayout.pug
include ../partials/admin/mixins/card
include ../partials/mixins/modal

block content
    |
    .grid.grid--small
        each user in users
            .grid__col
                +card(user, "user")
        .grid__col
            +addItemCard("/admin/add-user", "addItemCard--small")
    |
    +simpleDeleteModal("product")