header.header--admin.navbar.navbar-dark.py-4.bg-dark.align-items-start
    nav.container.mx-auto
        a(href="/").navbar-brand.text-white SHOP.JS
        ul.navbar-nav.flex-column
            li.nav-item.dropdown
                a(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")#productsDropdown.nav-link.dropdown-toggle #{__('Products')}
                div(aria-labelledby="productsDropdown").dropdown-menu.w-100
                    a.dropdown-item(href="/admin/products") #{__('Product List')}
                    a.dropdown-item(href="/admin/add-product") #{__('Add product')}
            
            li.nav-item
                a.nav-link(href="/admin/orders") #{__('Orders')}