<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        include ../partials/coreHeaderImports.pug
        block styles
    body.d-flex.flex-column.flex-md-row.bg-light
        include ../partials/admin/header.pug
        |
        main.main--admin.w-100.overflow-auto.row.mx-0
            .col-10.mx-auto.my-5
                if pageTitle
                    .admin__header
                        h5.display-4.mb-5 #{__(pageTitle)}
                .admin__content
                    block content
        |
        //include ../partials/footer.pug
        |
        include ../partials/coreFooterImports
        include ../partials/admin/footerImports
