<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        include ../partials/coreHeaderImports
        block styles
    body.d-flex.flex-column
        include ../partials/shop/header
        |
        main.main.w-100.h-100.d-flex.bg-purple.flex-column.my-5
            block content
        |
        include ../partials/shop/footer
        |
        include ../partials/coreFooterImports
        include ../partials/shop/footerImports

