extends ../layouts/mainLayout.pug
include ../partials/mixins/header
include ../partials/mixins/formControl

block content
    |
    .container.max-auto
        .account__header
            +sectionHeader(`Account settings`, 'lg')
        .account__content.form.d-flex-column
            hr.w-100.mb-4
            .row.justify-content-center.align-items-center
                .col-3
                    .avatar.mx-auto
                        .image--square.rounded-circle
                            img(src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80").imageUploader__dist.h-100
                        .avatar__set
                            .custom-file.w-100.h-100
                                input(type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01").imageUploader__src.w-100.h-100
                            i.fas.fa-plus.text-white
                    div.d-flex.align-items-center.justify-content-center
                        i.fas.fa-key.text-primary
                        p.m-0.ml-1 #{user.accountType}
                .col-9
                    +formControl({type: "text", label: "Name", value: user.name, name: "name"}, true,"p-0")
                    +formControl({type: "text", label: "Email", value: user.email, name: "name"}, true, "p-0")
                .col-6
                    +formControl({type: "text", label: "Password", value: "*********", name: "name"}, true, "p-0")
                .col-6    
                    +formControl({type: "text", label: "Confirm password", value: "*********", name: "name"}, true, "p-0")
            hr.w-100.mb-4
            button.ml-auto.d-block.btn.btn-primary.text-white.px-4 SAVE
        .account__footer