extends ../layouts/mainLayout.pug
include ../partials/mixins/header
include ../partials/mixins/order

block content
    |
    .container
        .orders__header
            +sectionHeader("Orders", "lg")
        .orders__form
            +ordersList(orders, "/orders")
        .orders__footer